# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Environment files
.env
.env.local
.env.*.local

# Backend specifically excluded folders
backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log
backend/firebase-service-account.json

# Node global
node_modules/

# Frontend/Flutter explicitly removed folders
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/

# Firebase general
firebase-service-account.json
frontend/.gemini/
