# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Environment files
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Firebase
firebase-service-account.json
